<!DOCTYPE html>
<html lang="nl-be">
    <head>
        <meta charset="utf-8" />
        <title>Locs 4 Youth</title>
    </head>
    <body>
        <img alt="Jeugdlocatie-booking.be" src="@Request.Url.GetLeftPart(UriPartial.Authority)@Url.Content("~/Content/img/logo.png")" width="150" />
        @RenderBody()
        <p>
            Bedankt!<br />
            - Het Locs4Youth-team
        </p>
    </body>
</html>

