@{
    ViewBag.Title = "Contact";
}
@section Styles {
    @Styles.Render("~/Content/css/contact.css")
}
<section>
    <h2>@ViewBag.Title</h2>
    <div class="row">
        <div class="col-md-8">
            <b>Voor jeugdwerkers</b>
            <p>
                Als Locs 4 Youth willen we een vlot toegankelijk, gebruiksvriendelijk en betrouwbaar platform zijn, waarbij locaties beschikbaar gesteld en verhuurd kunnen worden.
            </p>
            <b>Overkoepelend</b>
            <p>
                Locs 4 Youth maakt een deel uit van
                <a href="http://www.jeugdlocatie-booking.be">Jeugdlocatie-booking.be</a>.
            </p>
            <strong>Onze partners</strong>
            <p><a href="http://matthiashoebeke.ikdoeict.net" target="_blank">Matthias</a></p>
            <p><a href="http://laurensdecock.ikdoeict.net" target="_blank">Laurens</a></p>
            <b>Ondersteuning</b>
            <address><a href="mailto:locs4youth@gmail.com">📧 locs4youth@gmail.com</a><br /></address>
            <strong>Hoofdkwartier</strong>
            <address>
                <a href="http://www.jeugdlocatie-booking.be">Jeugdlocatie-booking.be</a> - Locs 4 Youth<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>
            <div class="google-maps">
                <iframe width="400"
                        height="350"
                        frameborder="0" style="border:1px solid #3b4f78"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAhdnYO8LPfUI-gyYUPBZOh6Gsn1kc9BpM&q=Redmond,+WA+98052-6399" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
