@{
    ViewBag.Title = "FAQ";
}
@section Styles {
    @Styles.Render("~/Content/css/faq.css")
}
@section Scripts {
    @Scripts.Render("~/Content/js/faq.js")
}
<section>
    <h2>@ViewBag.Title (Veelgestelde vragen)</h2>
    <div class="row">
        <div class="col-xs-12">
            <button class="accordion">Kan ik op voorhand boeken voor meerdere periodes in de toekomst?</button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec maximus risus. Nullam ac neque vulputate, rutrum odio ac, vulputate mi. Etiam mattis nunc nisl. Curabitur odio est, iaculis et justo sed, vulputate semper ipsum.</p>
            </div>
        </div>
        <div class="col-xs-12">
            <button class="accordion">Kan ik zelf een locatie aanbieden?</button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec maximus risus. Nullam ac neque vulputate, rutrum odio ac, vulputate mi. Etiam mattis nunc nisl. Curabitur odio est, iaculis et justo sed, vulputate semper ipsum.</p>
            </div>
        </div>
        <div class="col-xs-12">
            <button class="accordion">Hoe gebeurt de betaling?</button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec maximus risus. Nullam ac neque vulputate, rutrum odio ac, vulputate mi. Etiam mattis nunc nisl. Curabitur odio est, iaculis et justo sed, vulputate semper ipsum.</p>
            </div>
        </div>
        <div class="col-xs-12">
            <button class="accordion">Wat als ik de locatie na boeking niet meer nodig heb?</button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec maximus risus. Nullam ac neque vulputate, rutrum odio ac, vulputate mi. Etiam mattis nunc nisl. Curabitur odio est, iaculis et justo sed, vulputate semper ipsum.</p>
            </div>
        </div>
        <div class="col-xs-12">
            <button class="accordion">Kan ik boeken voor meerdere personen?</button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec maximus risus. Nullam ac neque vulputate, rutrum odio ac, vulputate mi. Etiam mattis nunc nisl. Curabitur odio est, iaculis et justo sed, vulputate semper ipsum.</p>
            </div>
        </div>
        <div class="col-xs-12">
            <button class="accordion">Is er een internetverbinding beschikbaar?</button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec maximus risus. Nullam ac neque vulputate, rutrum odio ac, vulputate mi. Etiam mattis nunc nisl. Curabitur odio est, iaculis et justo sed, vulputate semper ipsum.</p>
            </div>
        </div>
    </div>
</section>