@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using Locs4Youth.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "Locs 4 Youth Web API Help Page";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <h2>Welcome</h2>
            <p>
                This API is made to easily access data on Locs 4 Youth.
                If you'd like to give feedback or encounter an unexpected problem, please do not hesitate to contact us using the e-mailaddress below.
            </p>
            <strong>Support</strong>
            <address>
                <a href="mailto:locs4youth@gmail.com">📧 locs4youth@gmail.com</a><br />
            </address>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @foreach (var group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>
