blockquote {
    display: block;
    background: #fff;
    padding: 15px 20px 15px 45px;
    margin: 0 0 20px;
    position: relative;
    font-family: Georgia, serif;
    font-size: 14px;
    line-height: 1.2;
    color: #666;
    text-align: justify;
    border-left: 15px solid #c76c0c;
    border-right: 2px solid #c76c0c;
    max-width: 400px;
    opacity: 0.85;
}

blockquote::before {
    content: "\201C";
    font-family: Georgia, serif;
    font-size: 40px;
    font-weight: bold;
    color: #999;
    position: absolute;
    left: 10px;
    top: 5px;
}

blockquote::after {
    content: "";
}

#god {
    position: relative;
}

#quote {
    position: absolute;
    left: 1.5rem;
    bottom: -0.5rem;
}